* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	margin:0;
	padding:0;
	background:#fff;
	font-family: Calibri;
	color: #ffffff;
	scroll-behavior: smooth;
}

@media (max-width: 480px) { 
	#home{
	font-size: 15px;
	background-attachment: fixed;
	object-fit: fill;
	overflow: scroll;
	width: 100%;
	}
}
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
		#home{
		font-size: 15px;
		background-attachment: fixed;
		object-fit: fill;
		width: 100%;
		}
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
	#home{
		font-size: 15px;
		background-attachment: fixed;
		object-fit: fill;
		width: 100%;
		}
			
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	#home{
		font-size: 15px;
		background-attachment: fixed;
		object-fit: fill;
		width: 100%;
		}
 }

 .section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FDBE33;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}


#header{
	left: 0%;
}
#header .navbar-brand{
	color:black;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 0%;
}

#header .nav-item{
	margin-right: 2px;
	padding-right: 8px; 
	
}

#header .nav-link{
    align-content: right;
	z-index: 999;
	display: inline-block;
	overflow-x: hidden;
	transition: .5s ease;
	margin-top:1%;
	color:black;
	font-size: 1.5em;
	padding: 5px 15px;
	font-weight: 520;
}
#header .nav-link:hover{
	color:saddlebrown;
}
#header .nav-link.active{
	color:saddlebrown;
}
#header .dropdown-menu{
	background: rgba(139, 69, 19, 0.842);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	padding: 0.01px;
}
#header .dropdown-item{
	font-size: 20px;                               
	color:lightgoldenrodyellow;     
}
#header .dropdown-item:hover{
    color: saddlebrown;
}

#assignexe{
	height: 100vh;
	width: 100%;
	background-image: url('heartp.jpeg');
	background-attachment: fixed;
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	object-fit: fill;
}
#assignexe a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    background-color: rgba(139, 69, 19, 0.842); }
    #assignexe a:hover {
        background-color: hsla(0, 100%, 90%, 0.8);
      color: rgba(0,0,0,0.8);}
#assignexe .info{
	object-fit: cover;
	margin-top: 15%;
	transform: translateY(-15%);
}
#assignexe .info h1{
	font-size: 2.3em;
	font-weight: 525;
	color:black;
	letter-spacing: 2px;
}
#assignexe .info p{
	font-size: 2.1em;
	font-weight: 600;
	color: black;
	letter-spacing: 2px;
}
#assignexe .info a{
	margin-left: 50%;
	transform: translateX(-50%);
	height: 60px;
	width:250px;
	color:lightgoldenrodyellow;
	background: rgba(139, 69, 19, 0.911);
	padding:5px 20px; 
	font-size: 2em;
	font-weight: 600;
}
#assignexe .info a:hover{
	background: hsla(0, 100%, 90%, 0.8);
	color: rgba(0,0,0,0.8);
}

#assignexe .table{
	border: 2px;
}
#assignexe .table th{
	font-size: 21px;
	border-color: black;
}
#assignexe .table td{
	font-size: 18px;
	font-weight: 500;
}
#assignexe .table-wrap{
	border: 2px;
}
#donationlist{
	background-image: url(heartp.jpeg);
	background-attachment: fixed;
	background-position: top;
	background-size:cover; 
	background-repeat: no-repeat;
	object-fit: fill;
	margin-left: 2%;
}
#donationlist .table{
	border: 2px;
}
#donationlist .table th{
	font-size: 21px;
	border-color: black;
}
#donationlist .table td{
	font-size: 18px;
	font-weight: 500;
}
#donationlist .table-wrap{
	border: 2px;
}
#donationlist a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    background-color: rgba(139, 69, 19, 0.842); }
    #home a:hover {
        background-color: hsla(0, 100%, 90%, 0.8);
      color: rgba(0,0,0,0.8);
	}

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    margin-bottom: 15px;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
}


#donate .donate-content {
    padding:0px 0 600px 200px;
}

#donate .container .donate{   
    margin: 10px 0;
}

#donate .container .donate .donate-content {
    padding: 15px 10px 15px 10px;
}

#donate .donate .donate-content .section-header {
    margin-bottom: 30px;
}

#donate .donate .donate-content .section-header h3 {
    color: black;
}

#donate .donate .donate-text p {
    color: black;
    font-size: 20px;
	font-weight:500;
}

#donate .donate .donate-form {
    padding: 90px 30px;
    background:rgba(218, 165, 32, 0.507);

}

#donate .donate .donate-form .control-group {
    margin-bottom: 15px;
}

#donate .donate .donate-form .form-control {
    height: 60px;
    color: black;
	font-size: 18px;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid black;
    background: transparent;
}

#donate .donate .donate-form .form-control::placeholder {
    color: black;
    opacity: 1;
}

#donate .donate .donate-form .form-control:-ms-input-placeholder,
#donate .donate .donate-form .form-control::-ms-input-placeholder {
    color: black;
}

#donate .donate .donate-form .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#donate .donate .donate-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: black;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 #ffffff;
}

#donate .donate .donate-form .btn.btn-custom:hover,
#donate .donate .donate-form .btn.btn-custom.active {
    color: #FDBE33;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}

#donate .btn.btn-custom {
    padding: 12px 20px;
    text-align: center; 
    font-size: 22px;
    font-weight: 700;
    color: #777777;
    border-radius: 0;
    border: 2px solid #FDBE33;
    box-shadow: inset 0 0 0 0 #FDBE33;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

#donate .btn.btn-custom:hover {
    color: #20212B;
    box-shadow: inset 0 0 0 30px #FDBE33;
}

#donate .btn:focus,
#donate .form-control:focus {
    box-shadow: none;
}

#donate .donate .donate-form .c .form-control{
	color: black;
	background-color: black;
}

#donate .container-fluid {
    max-width: 1366px;
}

#donatordetails{
	background-image: url(heartp.jpeg);
	background-attachment: fixed;
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	object-fit: fill;
}
#donatordetails .table{
	border: 2px;
}
#donatordetails .table th{
	font-size: 21px;
	border-color: black;
}
#donatordetails .table td{
	font-size: 18px;
	font-weight: 500;
}
#donatordetails .table-wrap{
	border: 2px;
}

